######################################
#      BIG Gulp Git Ignore File      #
######################################

#node
**/node_modules

#Random Hidden Files
.DS_Store

#Editor Config Files
.idea
!.idea/codeStyleSettings.xml
atlassian-ide-plugin.xml

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules/*

# Users Environment Variables
.lock-wscript
